<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"><title>Portfolio</title>
</head>
<body>
    <h1>Portfolio</h1>
    <ul>
        <li><a href="tecnologias/">Tecnologias</a></li>
        <li><a href="projetos/">Projetos</a></li>
        <li><a href="competencias/">Competências</a></li>
        <li><a href="conquistas/">Conquistas</a></li>
        <li><a href="formacoes/">Formações</a></li>
        <li><a href="licenciaturas/">Licenciaturas</a></li>
        <li><a href="docentes/">Docentes</a></li>
        <li><a href="ucs/">Unidades Curriculares</a></li>
        <li><a href="tfcs/">TFCs</a></li>
    </ul>
</body>
</html>